<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPlNmTVYxBOG7kTriSr74pKqK8cyvVJLo</string>
	<key>GCM_SENDER_ID</key>
	<string>678683030552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joetr.sync.sphere</string>
	<key>PROJECT_ID</key>
	<string>syncsphere-37dca</string>
	<key>STORAGE_BUCKET</key>
	<string>syncsphere-37dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678683030552:ios:a7ae5a54ac223d46977f6d</string>
</dict>
</plist>